<a href="https://colab.research.google.com/github/afguerrerou/universidadTarea/blob/main/pythonDBmysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install python-dotenv mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-dotenv
  Downloading python_dotenv-0.20.0-py3-none-any.whl (17 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 3.4 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp37-cp37m-linux_x86_64.whl size=99985 sha256=3d718686ddc4bae95057a9162e24bfe650ff671aea6ea08a2a20d97d0aba85a6
  Stored in directory: /root/.cache/pip/wheels/95/2d/67/2cb3f82e435fc8e055cb2761a15a0812bf086068f6fb835462
Successfully built mysqlclient
Installing collected packages: python-dotenv, mysqlclient
Successfully installed mysqlclient-2.1.1 python-dotenv-0.20.0

In [9]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 2.2 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="1csex2b7gc5uthqdo0ij",
  password="pscale_pw_EdcYNppwYcnaUs0RcmvwtFnizFpfUDu7sfEtO11YQLm"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f2863bdc950>

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="1csex2b7gc5uthqdo0ij",
  password="pscale_pw_EdcYNppwYcnaUs0RcmvwtFnizFpfUDu7sfEtO11YQLm"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('universidad',)
('information_schema',)
('mysql',)
('sys',)
('performance_schema',)

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="1csex2b7gc5uthqdo0ij",
  password="pscale_pw_EdcYNppwYcnaUs0RcmvwtFnizFpfUDu7sfEtO11YQLm"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="1csex2b7gc5uthqdo0ij",
  password="pscale_pw_EdcYNppwYcnaUs0RcmvwtFnizFpfUDu7sfEtO11YQLm"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="1csex2b7gc5uthqdo0ij",
  password="pscale_pw_EdcYNppwYcnaUs0RcmvwtFnizFpfUDu7sfEtO11YQLm",
  database="universidad"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [23]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="1csex2b7gc5uthqdo0ij",
  password="pscale_pw_EdcYNppwYcnaUs0RcmvwtFnizFpfUDu7sfEtO11YQLm",
  database="universidad"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.